<div class="profile">
    <div class="profile-avatar">
        <a class="profile-name" id="vin">Vin</a>
        <a class="profile-name">cec</a>
    </div>
    <div class="profile-signature">
        i pensieri stretti &amp; il viso sciolto
    </div>
    <% if(theme.social) { %>
    <div class="profile-social">
        <%- partial('base-social') %>
    </div>
    <% } %>
    <% if(theme.friends) { %>
    <div class="friends">
        <div>Friends</div>
        <% for (name in theme.friends) { %>
        <% if(theme.friends[name]) { %>
        <span>
            <a id="friends" href=<%- theme.friends[name] %> target="_black">
                <%- name %></a>
        </span>
        <% } %>
        <% } %>
    </div>
    <% } %>
    <% if(theme.about.enable) { %>
    <div class="about-me">
        <a href="<%- url_for("//moe.cat/@vincec") %>" >About Me</a>
    </div>
    <% } %>
    <% { %>
    <div class="about-me">
        <a href="<%- url_for("/clip") %>" >Clip</a>
    </div>
    <% } %>
    <% { %>
    <div class="about-me">
        <a href="<%- url_for("/design") %>" >Design</a>
    </div>
    <% } %>
    <% { %>
    <div class="about-me">
        <a href="<%- url_for("/kulucolo") %>" >Kulu Colo</a>
    </div>
    <% } %>
    <% { %>
    <div class="about-me">
        <a href="<%- url_for("../hcii2016") %>" >HCII2016</a>
    </div>
    <% } %>
</div>